// Set your brand colors
:root {
  --color-primary: #000000;
  --color-secondary: #dd0000;
  --color-additional: #ffce00;
  --color-pure-white: #fff;
  --color-shadow: #d1d9e6;
  --color-cool-black: #363636;
  --color-dope-black: #121313;
  --color-perfect-wood: rgb(183 160 134);
  --color-perfect-woodlight: #fff1e2;
}
